* {
  padding: 0;
  margin: 0;
}

body, html {
  height: 100%;
}

.container {
  background-position: center center;
  background-image: url("http://weknowyourdreams.com/images/sand/sand-02.jpg");
  background-size: cover;
  height: 100%;
}

.header {
   margin: auto;
   text-align: center;

}

.header-text {
 letter-spacing: 1.5px;
 color: #FFF;
 text-align: center;
 margin: 0 auto;
 width: 45%;
 position: relative;
 top: 185px;

}

.nav {

  width: 100%;
  z-index: 1;
  position: fixed;
  text-align: center;
  border-bottom: 1px solid lightgray;

}

.navB li{
  letter-spacing: 1px;
  font-size: 12px;
  font-family: Arial;
  padding: 20px 20px;
  display: inline-block;
  color: #FFF;
}
